body{

  background-color: green;
}
form, .reponse{
  width: 700px;
  margin: 0 auto;
  border: 1px solid black;
  background-color: #EFA;
  text-align: center;
}
.reponse{
  height: 50px;
  font-size: 40px;
}
h2{
  font-size: 40px;
}
input, textarea{
  border: 1px thin black;
  width: 300px;
  height: 40px;
  font-size: 40px;
}
input:hover, textarea:hover, .reponse:hover{
  color: green;
  background-color: #EDF;
  font-weight: bold;
  cursor: pointer;
}
textarea{
  height: 150px;
}
span{
  font-size: 40px;
  display: inline-block;
  width: 300px;
  margin-right: 0;
}
